.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center; 
  }
  
  .wrapper > * {
    padding: 10px;
    flex: 1 100%;
  }

  
  @media all{
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
  }
  
  select {
    background-color: #303134;
    border: 1px solid #303134;
    color: #e8eaed;
    font-size: 20px;
  }
 
  #searchInput{
    width: 400px;
    height: 45px;
    font-size: 20px;
    text-align:center;
    border-radius: 30px;
    background-color: #1F2124;
    color: white;
    border: 2px solid #5F6367;
    
  }
  .submitButton{
    background-color: #303134;
    border: 1px solid #303134;
    border-radius: 4px;
    color: #e8eaed;
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
  }
  
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  



  label{
    font-size: 40px;
    font-family: sans-serif;
}

  body {
    padding: 15em 4em; 
    background-color: #202124;
    color:aliceblue;
  }
  